<form id="formCadastro" method="post" class="mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Nome" class="form-label">Nome:</label>
                <input required="required" type="text" class="form-control" id="Nome" name="Nome" placeholder="Ex.: Nathan" maxlength="50">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Sobrenome" class="form-label">Sobrenome:</label>
                <input required="required" type="text" class="form-control" id="Sobrenome" name="Sobrenome" placeholder="Ex.: da Silva" maxlength="255">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="CPF" class="form-label">CPF:</label>
                <input required="required" type="text" class="form-control cpf" id="CPF" name="CPF" placeholder="Ex.: 123.456.789-00" maxlength="14">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Nacionalidade" class="form-label">Nacionalidade:</label>
                <input required="required" type="text" class="form-control" id="Nacionalidade" name="Nacionalidade" placeholder="Ex.: brasileira" maxlength="50">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
                <label for="CEP" class="form-label">CEP:</label>
                <input required="required" type="text" class="form-control" id="CEP" name="CEP" placeholder="Ex.: 01011-100" maxlength="9">
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label for="Estado" class="form-label">Estado:</label>
                <select required="required" id="Estado" class="form-select" name="Estado">
                    <option value="">Selecione</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PE">Pernambuco</option>
                    <option value="SP">São Paulo</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label for="Cidade" class="form-label">Cidade:</label>
                <input required="required" type="text" class="form-control" id="Cidade" name="Cidade" maxlength="50" placeholder="Ex.: São Paulo">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label for="Logradouro" class="form-label">Logradouro:</label>
                <input required="required" type="text" class="form-control" id="Logradouro" name="Logradouro" placeholder="Ex.: Rua Boa Vista 253" maxlength="500">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Email" class="form-label">E-mail:</label>
                <input required="required" type="text" class="form-control" id="Email" name="Email" placeholder="Ex.: email@email.com" maxlength="2079">
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Telefone" class="form-label">Telefone:</label>
                <input required="required" type="tel" class="form-control" id="Telefone" name="Telefone" placeholder="Ex.: (11) 2020-3030" maxlength="15">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-md-6">
                    <button id="btnAbrirModalBeneficiarios" type="button" class="btn btn-sm btn-primary">Beneficiários</button>
                </div>
                <div class="col-md-6 text-end">
                    <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                    @Html.ActionLink("Voltar", "Index", "Cliente", new { }, new { @class = "btn btn-sm btn-danger" })
                </div>
            </div>
        </div>
    </div>
</form>
